.About {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 100%;
}

.About h2 {
  text-align: center;
}

.card-image {
  display: flex;
  height: 400px;
  width: 99%;
}


.about-paragraph {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: justify;
  width: 100%; 
}

.paragraph-frame {
  width: 50%;
}