.About {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  height: 650px;
  width: 100%;
}

.card-image {
  display: flex;
  height: 400px;
  width: 99%;
}


.about-paragraph {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: justify;
  width: 100%; 
}

.paragraph-frame {
  width: 50%;
}

@media (max-width: 400px)
{ 
  .about-paragraph {
    width: 100%;
    margin: 0;
  }
  .paragraph-frame {
    padding: 7px;
    width: 100%;
  }
}