.my-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: left;
  width: 100%;
}

.logo img {
  height: 10em;
  width: 12em;
}

.my-nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.my-nav a {
  color: black;
  font-size: 1.2em;
  font-weight:700;
  text-decoration: none;
}

.my-nav a:hover {
  color: red;
  background: rgba(0, 0, 0, 0.05);
}