.Services {
  align-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
  width: 100%;
}

.services-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.paragraph-service {
  text-align: justify;
  width: 80%;
}

.services-content ul {
  list-style: none;
  line-height:2em
}

@media (max-width: 400px) {
  .services-content h1 {
    font-size: 1.5em;
  }

  .paragraph-service {
    text-align: justify;
    width: 100%;
  }

  .paragraph-service p {
    padding: 10px;
  }
}