.TeamCard {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 7px 7px 5px -6px rgba(0,0,0,0.75);
  background-color: rgb(243, 230, 230);
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu', sans-serif;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}

.card-image {
  height: 300px;
  width: 300px;
}

.profile-description {
  display: flex;
  flex-direction: column;
}

.profile-description h2 {
  font-size: 2em;
  padding-left: 20px;
}

.profile-description h3 {
  font-size: 1.3em;
  padding-left: 20px;
}

.profile-description p {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 1em;
  text-align: justify;
}

.social-network {
  align-items: center;
  border-left: 2px solid darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-network a {
  display: flex;
  cursor: pointer;
}

.social-network a:hover {
  animation: heartBeat;
  animation-duration: 2s;
}

@keyframes heartBeat {
  
}

.social-network img {
  height: 70px;
  width: 70px;
}

@media (max-width: 400px) {
  .TeamCard {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
  }

.card-image {
  align-self:center;
  height: 10em;
  width: 10em;
}

.card-image img {
  height: 10em;
  width: 10em;
}

.social-network {
  align-items: center;
  border-top: 2px solid darkgrey;
  border-left: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

}